<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Avaliação de Artigos</title>
    </head>
    <body>
        <center>
            <h1>Sistema de avaliação de artigos</h1>
            <a href="usuarioCreate">
                <button>Cadastrar usuário</button>
            </a>
            <a href="usuarioList">
                <button>Listar usuários</button>
            </a>
            <a href="artigoCreate">
                <button>Criar artigo</button>
            </a>
            <a href="artigoList">
                <button>Listar artigos</button>
            </a>
            <br> <br>
            {{{body}}}
        </center>
    </body>
</html>