<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Avaliação de Artigos</title>
    </head>
    <body>
        <center>
            <h1>Sistema de Avaliação de Artigos</h1>
            <br> <br>
            {{{doby}}}
        </center>
    </body>
</html>