<table border="1px">
    <tr>
        <td>Nome</td>
        <td>Login</td>
        <td>Senha</td>
        <td>Tipo</td>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{nome}}</td>
        <td>{{login}}</td>
        <td>{{senha}}</td>
        <td>{{tipoUsuario}}</td>
    </tr>
    {{/each}}
</table>